<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_fortis">
        <observer name="fortis_payment_data_assign"
                  instance="Fortispay\Fortis\Observer\SaveVaultInfoToOrderObserver"/>
        <observer name="fortis_payment_type_data_assign"
                  instance="Fortispay\Fortis\Observer\SavePaymentTypeToOrderObserver"/>
    </event>
    <event name="vault_payment_token_save_commit_after">
        <observer name="fortis_delete_saved_vault"
                  instance="Fortispay\Fortis\Observer\DeleteSavedVault"/>
    </event>
    <event name="admin_system_config_save">
        <observer name="fortis_setup_webhook"
                  instance="Fortispay\Fortis\Observer\SetupWebhook"/>
    </event>
    <event name="fortispay_fortis_create_third_level_data_after_success">
        <observer name="fortis_create_third_level_data"
                  instance="Fortispay\Fortis\Observer\CreateThirdLevelData"/>
    </event>
</config>

