<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
               name="payment[method]"
               type="radio">
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img alt=""
                 class="payment-icon"
                 width="150"
                 data-bind="attr: {src: getPaymentAcceptanceMarkSrc(), alt: $t('Acceptance Mark')}"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko if: (isFortisVaultEnabled() != 0)-->
        <!-- ko if:(checkFortisSavedCard() <= 0) -->
        <div class="fortis-vault-method-block field choice" data-bind="visible: isFortisVaultEnabled()">
            <input type="checkbox" name="fortis-vault-method"
                   data-bind="checked: checkFortisSavedCard, click: useFortisVaultEnabled, attr: {id: 'fortis-vault-method'}">
            <label data-bind="attr: {for: 'fortis-vault-method'}"><span
                    data-bind="i18n: 'Remember my payment method details'"></span></label>
        </div>
        <!-- /ko -->
        <!-- ko if:(checkFortisSavedCard() > 0) -->
        <div class="saved_cards">
            <select id="fortis-saved_cards" name="fortis-saved_cards" data-bind="event: { change: displaySurcharge }">
                <!-- ko foreach: { data: JSON.parse(getFortisSavedCardList()), as: 'card' } -->
                <option data-bind="attr: {'value': card.token, 'data-card-type': card.card_type}, text: card.text"></option>
                <!-- /ko -->
                <option data-bind="attr: {'value': 'new-save'}">
                    <!-- ko if: !achIsEnabled(); -->
                    <!-- ko i18n: "Use a new Card and save" --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: achIsEnabled(); -->
                    <!-- ko i18n: "Use a new Payment Method and save" --><!-- /ko -->
                    <!-- /ko -->
                </option>
                <option data-bind="attr: {'value': 'new'}">
                    <!-- ko if: !achIsEnabled(); -->
                    <!-- ko i18n: "Use a new Card and don't save" --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: achIsEnabled(); -->
                    <!-- ko i18n: "Use a new Payment Method and don't save" --><!-- /ko -->
                    <!-- /ko -->
                </option>
            </select>

            <div id="surcharge-disclaimer" style="margin-left: 23px;"></div>
            <div class="field choice fortis-agreement" style="margin: 15px; display: none;">
        <input type="checkbox" id="fortis-agreement-checkbox" name="fortis-agreement">
        <label for="fortis-agreement-checkbox">
            I authorize Merchant to electronically debit my Bank Account indicated above for any fees due Merchant.
            If this item is dishonored for any reason, I authorize Merchant to initiate an additional electronic debit to the same Account
            for a returned item fee in the amount of $30.
            My signature and/or electronic submission on this agreement below shall be my authorization to execute these electronic transactions.
            This authorization shall remain in full force and effect until Merchant has received written notification from me of its termination
            in such a time and manner as to afford Merchant a reasonable opportunity to act on it.
        </label>
</div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div id="fortis-payment-form-container"></div>

        <div id="ticket-surcharge-disclaimer" style="margin-left: 23px;"></div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div>
            <!-- ko if: isFramed(); -->
            <div id="fortis-framed-2567"></div>
            <!--/ko-->
        </div>
        <div class="actions-toolbar" style="display:block;">
            <div class="primary">
                <button class="action primary checkout" data-bind="click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled id="fortisButton" type="submit">
                    <span data-bind="text: getPlaceOrderBtn()"></span>
                </button>
            </div>
        </div>
    </div>
</div>
